@using Exsm3945_Assignment.Models.Exceptions

<h1>Register User: Index</h1>
<p>@(ViewData["AccountTypes"] as string)</p>
<p>@ViewBag.TestBag</p>

@if (ViewData["Exceptions"] != null)
{
    <ul>
        @foreach (Exception sub in (ViewData["Exceptions"] as BLLValidationException).SubExceptions)
        {
            <li>@sub.Message</li>
        }
    </ul>
}
<form asp-action="DoTheGeneration">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    @{
        string today = DateTime.Now.ToString("yyyy-MM-dd");
    }


    <div class="form-group">
        <label class="control-label">Type of Account:</label>
        <select name="acc_TypeId" class="form-control" asp-items="ViewBag.AccountTypes"></select>
        
    </div>
@*    <div class="form-group">
        <label class="control-label">Type of Account:</label>
        <input type="text" class="form-control" name="acc_TypeId" />
    </div>
*@    <div class="form-group">
        <label class="control-label">First Name:</label>
        <input type="text" class="form-control" name="c_FirstName" />
    </div> 
    <div class="form-group">
        <label class="control-label">Last Name:</label>
        <input type="text" class="form-control" name="c_LastName" />
    </div>
    <div class="form-group">
        <label class="control-label">Date Of Birth:</label>
        <input name="c_Dob" type="date" class="form-control" min="1900-01-01" />
    </div>
    <div class="form-group">
        <label class="control-label">Home Address:</label>
        <input type="text" class="form-control" name="c_Address" />
    </div>
    <div class="form-group">
        <label class="control-label">Starting Account Balance</label>
        <input name="acc_Balance" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>